.BarIcon.powerprofiles {
    color: black;
    &.power-saver {
        background-color: #cfe8af;
    }
    &.balanced {
        background-color: #a3cff4;
    }
    &.performance {
        background-color: #fea346;
    }
}
