.BarIcon.battery {
    color: black;
    &.low {
        background-color: #fea346;
    }
    &.charging {
        background-color: #cfe8af;
    }
    &.normal {
        background-color: #a3cff4;
    }
}

.BarLabel.battery {
    &.low {
        color: #fea346;
    }
    &.charging {
        color: #cfe8af;
    }
    &.normal {
        color: #a3cff4;
    }
}
